/* Universal Styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
  color: rgba(80,80,80,0.8);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  color: #247065;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 32px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*=======================
Colors
=========================
Yellow: #ffec97  rgb(255,236,151)
Green: #60a65f  rgb(96,166,95)
Dark Green: #247065  rgb(36,112,102)
Darker Green: #2c5b60  rgb(44,91,96)
Blue: #2b3d54  rgb(44,91,96)

/* Header */

header {
  color: #2b3d54;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 960px;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

.logo img {
  margin-right: 5px;
}

.logo h4 {
  font-family: "Bungee", cursive;
  font-size: 1.5rem;
}

.logo span {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

nav.desktop {
  margin-right: 24px;
}

.desktop ul li {
  display: inline-block;
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop a {
  text-decoration: none;
  color: #60a65f;
}

/* Main Content */

/* Learn Section */
.learn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 24px;
  background-color: #ffec97;
}

.left {
  max-width: 60%;
  margin-right: 24px;
}

.left img {
  width: 100%;
}

.right {
  padding-right: 72px;
}

.right span {
  width: 100%;
  text-align: center;
  background-color: #247065;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.2;
  font-weight: 400;
  display: block;
  padding: 16px 0;
  border-radius: 5px;
}

/* Campus Section */
.campus {
  display: flex;
  padding: 32px 24px;
}

.campus-left {
  /*display: flex;
  flex-direction: column;*/
  width: 60%;
  margin-right: 24px;
}

.image {
  width: 60%;
}

.image,
.description {
  width: 100%;
}

.description {
  margin-top: 32px;
}

.description h1 {
  margin-bottom: 24px;
}

.description h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0;
  padding-top: 32px;
}

.image img {
  width: 100%;
}

.campus-right {
  width: 40%;
  border-left: 2px solid rgba(80,80,80,0.2);
  display: flex;
  flex-direction: column;
}

.orientation {
  display: flex;
  align-items: center;
}

.orientation:first-child {
  border-bottom: 2px solid rgba(80,80,80,0.2);
}

.campus-img {
  width: 35%;
  margin: 16px;
}

.campus-img img {
  width: 100%;
}

.date {
  width: 65%;
}

.date h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #2c5b60;
}

.date h5 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 8px 0;
}

.date a {
  text-decoration: none;
  color: green;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.orientation:last-child {
  background-color: #ffec97;
}
/* Courses Section */

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffec97;
}

#gallery h1,
#exhibition h1 {
  margin: 48px 0;
  color: black;
  width: 100%;
  text-align: center;
  color: #247065;
}

#gallery h4,
#exhibition h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.4;
  color: #2c5b60;
}

#gallery p.tag {
  color: #247065;
}

.courses {
  width: 816px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 32px;
}

.course img {
  width: 100%;
}

.course-description {
  margin: 16px 16px 24px;
}

.course-description p {
  margin-top: 8px;
  color: rgba(80,80,80,0.8);
}

/* Thesis Section */
.exhibit {
  display: flex;
  width: 100%;
}

.video-column {
  width: 60%;
  margin: 0 24px 32px;
}

.video-description {
  margin-top: 24px;
}

.video-description p {
  margin-top: 8px;
}

.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.more-videos {
  display: flex;
  align-items: center;
}

.more-videos:first-child {
  background-color: #ffec97;
}

.video-thumbnail {
  width: 35%;
  margin: 16px;
}

.video-thumbnail img {
  width: 100%;
}

.video-text {
  width: 65%;
}


/* Footer */
footer {
  margin: 0 auto;
  color: LightGrey;
  width: 960px;
  height: 98px;
  border-top: 2px solid rgba(80,80,80,0.2);
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin: 16px 24px;
}

footer nav {
  margin: 16px 24px;

}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav li {
  display: inline;
  text-decoration: none;
  margin-left: 12px;
}
